* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  background-color: #ffbf68;
  right: 0;
  left: 0;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-variant: normal;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

#hero {
  display: flex;
  padding: 5%;
  background-color: #ffbf68;
  background-image: url(../images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 800px;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-repeat: no-repeat;
  gap: 50px;
}

#hero button {
  background-color: #d0f3f0;
}

nav ul {
  position: relative;
  text-align: right;
}
nav ul li {
  display: inline;
}

button {
  font-weight: 600;
  width: 120px;
  height: 60px;
  color: black;
  background-color: #ffbf68;
  border: 0px;
}

h1 {
  font-weight: 600;
  font-size: 120px;
}

#section2 {
  display: flex;
  margin: 0 auto;
  width: 60%;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

#section2 p {
  text-align: center;
}

#section3-container {
  padding: 50px;
  justify-content: space-evenly;
  display: flex;
  background-color: #d0f3f0;
  flex-direction: column;
  align-items: center;
}

#section3 {
  padding: 50px;
  flex-wrap: wrap;
  background-color: #d0f3f0;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}

.content {
  width: 300px; 
  align-items: center;
  margin: auto; 
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;

  gap: 20px;
}

.content img {
  width: 50%;
}

#section4-container {
  background-image: url("../images/bg-grid.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin: 0 auto;
  gap: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
  align-items: center;
  justify-content: space-between;
}

#section4 {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 20px;
}

#section4-container img {
  width: 40%;
  flex-grow: 1;
  flex-shrink: 0;
}

footer {
  height: 100px;
  background-color: dimgray;
  color: white;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
